.page {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem 2rem;

  h1.page-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $tertiary;
  }

  .btn {
    background: none;
    border: 1px solid #eee;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 3px;

    &.btn-primary {
      background: $primary;
      color: $white;
    }
  }
}