$containerWidth: 80rem;

$primary: #26142F;
$secondary: #72969D;
$tertiary: rgb(83, 95, 97);
$error: #C60000;
$success: #AACCB1;
$white: #eee;
$gold: #DCAD68;
$gold-light: #ECDEB0;
$veneno: #834D6F;

$screen-xxs: 320px;
$screen-xs: 425px;
$screen-s: 720px;
$screen-m: 1024px;
$screen-l: 1440px;